<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="membersonlylogo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/74043cfcaf.js" crossorigin="anonymous"></script>
</head>