:root {
    font-size: 16px;
    --theme-background-dark: black;
    --theme-text-light: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--theme-background-dark);
    color: var(--theme-text-light);
}