<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <header>
        <h1>Members Only</h1>
    </header>
    <main>
        <% if (locals.user) { %>
            <h2>Welcome back <%= user.username %></h2>
            <a href="/main">Continue to main</a>
        <% } else { %>
            <h2>Login</h2>
            <form action="/login" method="post">
                <ul>             
                    <li>
                        <label for="username">Username: </label>
                        <input type="text" name="username" id="username" minlength="1" maxlength="80" required>
                    </li>
                    <li>
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" minlength="1" maxlength="80" required>
                    </li>
                    <li class="formButtonMenu">
                        <button onclick="playRandomSound()" type="submit">Log in</button>
                    </li>
                </ul>
            </form>
            <span>Don't have an account? <a href="/sign-up">Sign up</a></span>
        <% } %>
    </main>
    <%- include("../partials/footer") %>
    <%- include("../partials/script") %>
</body>
</html>